@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

:root {
    --main-font: "Roboto", sans-serif;
    --home-header-font: "Fugaz One";
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --grey: #696687;
    --dark-grey: #212529;
    --gold: #c9ab04;
    --navy: #403585;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    min-height: 8vh;
    padding: 1em 0;
    z-index: 1;
    background-color: var(--white);
}

.nav-logo-container {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.nav-logo {
    font-family: var(--main-font);
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 0.2em;
}

.burger-svg {
    height: 1.6rem;
    transform: scale(1.1);
    fill: var(--gold);
}

.nav-links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    top: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in;
    z-index: 1;
    background-color: var(--white);
}

.nav-links-container-active {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 10em;
    font-size: 0.9rem;
    z-index: 1;
    padding-left: 1em;
    background-color: var(--white);
}

.nav-link {
    font-family: var(--main-font);
    font-weight: 900;
    color: var(--grey);
    text-decoration: none;
}

.nav-link:hover {
    cursor: pointer;
    color: var(--black);
}

.hamburger {
    display: block;
    z-index: 1;
    padding: 0.1rem 0.4rem;
    margin-right: 1em;
    border: 1px solid var(--grey);
    border-radius: 5px;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger-line {
    display: block;
    width: 20px;
    height: 1.5px;
    margin: 5px auto;
    background-color: var(--grey);
}

/* Home Page */

.home-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(images/burger-bg.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 800px;
    padding-top: 4em;
    padding-bottom: 1em;
}

.home-text-container {
    padding-left: 0.8em;
}

.home-header {
    color: var(--white);
    font-family: var(--home-header-font);
    font-size: 2.8rem;
    line-height: 1.4em;
    letter-spacing: 1px;
    margin-bottom: 0.2em;
}

.home-p {
    color: var(--white);
    font-family: var(--main-font);
    font-size: 1rem;
    line-height: 1.8em;
    letter-spacing: 0.5px;
    margin-bottom: 1.4em;
}

.home-links-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 400px;
    height: 50px;
}

.home-menu-btn {
    width: 45%;
    padding: 1em 0;
    text-align: center;
    font-family: var(--main-font);
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--white);
    border: 2px solid var(--gold);
    border-radius: 5px;
    text-decoration: none;
}

.home-contact-btn {
    width: 45%;
    padding: 1em 0;
    text-align: center;
    font-family: var(--main-font);
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--black);
    background-color: var(--gold);
    border-radius: 5px;
    text-decoration: none;
}

.home-menu-btn:hover, .home-contact-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* About Page */

.about-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--main-font);
}

.about-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 3.5em 0;
}

.about-text-one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 1em 0;

}

.about-text-two {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 1em 0;
}

.about-text-container {
    width: 100%;
    max-width: 300px;
    padding-bottom: 1.2em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1em;
    border-bottom: 2px solid var(--gold);
}

.about-header{
    color: var(--navy);
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin-bottom: 0.2em;
}

.about-p {
    color: var(--grey);
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.8em;
}

.about-img-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.burger-toon {
    width: 100%;
}

/* Menu Page */

.menu-page {
    min-height: 100vh;
    background-color: var(--navy);
}

.menu-container {
    width: 90%;
    max-width: 1000px;
    padding: 6em 0;
    margin: 0 auto;
}

.menu-button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 650px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5em;
}

.menu-button {
    width: 30%;
    padding: 1em 0.5em;
    background-color: var(--gold);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-family: var(--main-font);
    font-weight: bold;
    letter-spacing: 1px;
}

.menu-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.menu-items-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 500px;
    margin: 0 auto;
    font-family: var(--main-font);
}

.item-container {
    color: var(--white);
}

.item-name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5em;
    border-bottom: 2px dotted var(--gold);
}

.item-name {
    font-size: 1.4rem;
}

.item-price {
    font-size: 1rem;
}

.item-desc-container {
    padding-top: 0.5em;
}

/* Contact Page */

.contact-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-container {
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.contact-header { 
    font-family: var(--main-font);
    font-size: 1.4rem;
    color: var(--navy);
}

.contact-p {
    font-family: var(--main-font);
    font-size: 1.2rem;
    color: var(--grey);
}

.contact-number {
    font-family: var(--main-font);
    font-size: 1.2rem;
    color: var(--gold);
}

.contact-page-btn {
    width: 30%;
    max-width: 150px;
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: bold;
    color: var(--black);
    background-color: var(--gold);
}

.contact-page-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.contact-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: auto;
    padding: 0.5em 1.5em;
    width: 100%;
    font-family: var(--main-font);
    background-color: var(--dark-grey);
}

.social-links-container {
    display: flex;
    flex-direction: column;
}

.social-links{
    display: flex;
}

.social-link {
    height: 24px;
    width: 24px
}

.social-links-top {
    font-size: 1rem;
    color: var(--white);
    margin-bottom: 0.4em;
}

.contact-address-container {
    display: flex;
    flex-direction: column;
}

.contact-address {
    font-size: 0.8rem;
    color: var(--grey);
    margin-bottom: 0.4em;
}

.contact-address-top {
    font-size: 1rem;
    color: var(--white);
    margin-bottom: 0.4em;
}

/* Media Queries */

@media screen and (min-width: 500px) {
    /* Home Page */
    .home-text-container {
        padding-left: 1.4em;
    }

    .home-header {
        margin-bottom: 0.4em;
        font-size: 3rem;
    }

    .home-p {
        margin-bottom: 2em;
        font-size: 1.2rem;
    }

    .home-links-container {
        padding-left: 0.6em;
    }

    .home-contact-btn, .home-menu-btn {
        padding-top: 0.7em;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    /* Navbar */
    .nav-logo-container {
        margin-left: 2em;
    }

    .nav-logo{
        font-size: 2.4rem;
    }

    .burger-svg {
        height: 1.6rem;
        transform: scale(1.4)
    }

    .nav-links-container {
        display: flex;
        flex-direction: row;
        position: static;
        height: auto;
        width: 40%;
        max-width: 500px;
        font-size: 1rem;
    }

    .hamburger {
        display: none;
    }

    /* Home Page */
    .home-header {
        font-size: 3.8rem;
    }

    .home-p {
        font-size: 1.4rem;
    }

    /* About Page */
    .about-div {
        flex-direction: row;
        align-items: center;
    }

    .about-text-one {
        height: 800px;
        padding-left: 1em;
        padding-right: 1em;
        justify-content: center;
        gap: 5%
    }

    .about-text-two {
        height: 800px;
        padding-left: 1em;
        padding-right: 1em;
        justify-content: center;
        gap: 5%;
    }

    .about-text-container {
        padding-bottom: 3em;
    }

    .about-img-container {
        height: 800px;
    }

    .about-header {
        font-size: 2rem;
    }

    .about-p {
        font-size: 1.2rem;
    }

    /* Menu Page */
    .menu-button {
        font-size: 1rem;
    }

    .item-name {
        font-size: 1.8rem;
    }

    .item-price {
        font-size: 1.6rem;
    }

    .item-desc {
        font-size: 1.2rem;
    }

    /* Contact Page */
    .contact-header {
        font-size: 1.8rem;
    }

    .contact-p {
        font-size: 1.6rem;
    }

    .contact-page-btn {
        font-size: 1.2rem;
    }

    .contact-footer {
        flex-direction: row;
    }

    .social-links-top {
        font-size: 1.2rem;
    }

    .social-link {
        height: 30px;
        width: 30px;
    }

    .contact-address-top {
        font-size: 1.2rem;
    }

    .contact-address {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    /* Navbar */
    .nav-links-container {
        font-size: 1.2rem;
    }

    /* Home Page */
    .home-header {
        font-size: 4.2rem;
    }

    /* Menu Page */
    .item-name {
        font-size: 2rem;
    }

    .item-price {
        font-size: 1.8rem;
    }

    /* Contact Page */
    .contact-header {
        font-size: 2.4rem;
    }

    .contact-p {
        font-size: 2rem;
    }

    .contact-page-btn {
        font-size: 1.4rem;
    }

    .social-link {
        height: 40px;
        width: 40px;
    }
}